h1{
    color: white;
    text-align: center;
    font-family: cambria;
    letter-spacing: 2px;
    margin:auto;
    margin-top: 120px;
}

.filter-history{
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.controlbtn button, .history-btn button, .ddlhistory{
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    font-family: cambria;
    border-radius: 25px;
    border: 2px white solid;
    width: 170px;
    height: 40px;
    margin: 20px;
    cursor: pointer;
    transition: all .3s ease; 
}
.controlbtn button{
    margin-top: 50px;
    font-weight: bold;
}
#controlbtn2{
    position: relative;
    top: 0;
    left: 920px;
}
.history-btn button:hover, .ddlhistory:hover, .controlbtn button:hover{
    transform: scale(1.1); 
    background-color: black;
    color: white;
    border: 1px white solid; 
}
.record h3{
    color: #dadada;
    letter-spacing: .2em;
    font-size: 16px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}