/* Ticket styles */
.ticket {
    text-align: center;
  }
  
  .ticket-mlbb-image,
  .ticket-valorant-image,
  .ticket-warzone-image {
    width:100%;
  }
  
  .ticket-heading {
    text-align: center;
    color:#150a0a;
  }
  
  /* Form styles */
  .form-container {
    box-sizing: border-box;
    background-color: #fcfcfc;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    border-radius: 25px;
  }

  .form-container label{
    color: #150a0a;
  }
  
  .ticket-type {
    margin-bottom: 10px;
  }
  
  /* Total price styles */
  .total-price {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }

  .error-message {
    color: red;
    margin-bottom: 10px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

.confirmButton{
    background-color: rgba(132, 130, 130, 0.192);
    border-radius: 100px;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: right;
    text-decoration: none;
    transition: all 250ms;
    border: none;
    font-size: 20px;
    font-family: Cambria;
  
}

.confirmButton:hover {
    transform: scale(1.2) rotate(-1deg);
    box-shadow:0 0 15px 4px rgba(25, 167, 44, 0.523);
  }

.resetButton{
    background-color: rgba(132, 130, 130, 0.192);
    border-radius: 100px;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: right;
    text-decoration: none;
    transition: all 250ms;
    border: none;
    font-size: 20px;
    font-family: Cambria;
  
}

.resetButton:hover {
    transform: scale(1.2) rotate(-1deg);
    box-shadow:0 0 15px 4px rgba(167, 25, 25, 0.523);
  }

.CnP{
    background-color: rgba(190, 188, 188, 0.875);
    border-radius: 100px;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-decoration: none;
    transition: all 250ms;
    border: none;
    font-size: 17px;
    font-family: Cambria;
    display: block;
    margin: 0 auto;
}

.CnP:hover {
    transform: scale(1.2) rotate(-1deg);
    box-shadow:0 0 15px 4px rgb(25, 167, 46);
  }