/*Start of global styles*/
body {
    margin: 0;
    padding: 0;
    background-color: black;
}
/*End of global styles*/

/*Start of header styles*/
.header {
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 180px;
    width: 100%;
    text-align: center;
}

.header-navBar {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(58,58,65,0.7456232492997199) 25%, rgba(58,58,65,1) 50%, rgba(58,58,65,0.7540266106442577) 75%, rgba(0,0,0,0) 100%);
    padding: 0;
    margin: 0;
}

.header-navBar ul {
    list-style: none;
    height: 44px;
    margin: 0 10px 0 10%;
    padding: 0;
}

.header-navBar ul li {
    padding: 5px 10px;
}

.header-navBar ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 10px 15px 10px;
}

.header-navBtn-center {
    display: inline-block;
    margin-top: 5.6px;
}

.header-navBtn-center a:hover {
    background-color: #7f7f86;
    transition: 0.8s;
}

.header-navBtn-right {
    float: right;
}
/*End of header styles*/

/*Start of footer styles*/
.footer {
    color: rgb(212, 212, 212);
    width: 100%;
    background: linear-gradient(90deg, rgba(85,83,96,1) 0%, rgba(69,67,77,1) 20%, rgba(47,46,52,1) 40%, rgba(47,46,52,1) 60%, rgba(69,67,77,1) 80%, rgba(85,83,96,1) 100%);
    min-height: 560px;
}

.footer a {
    color: rgb(212, 212, 212);
    text-decoration: none;
}

.footer h2, .footer p {
    text-align: left;
}

.footer-contact {
    display: inline-block;
    margin: 5px 10% 0 10px;
}

.footer-address, .footer-ssn {
    display: inline-block;
    margin-right: 10%;
    vertical-align: top;
}

.footer-ssn img:hover {
    transform: rotate(20deg);
}

.footer-support {
    display: inline-block;
    vertical-align: top;
}

.footer-support a:hover {
    color: rgb(255, 255, 255);
}

.footer-divider {
    text-align: center;
    width: 35%;
}

.footer-copy p {
    text-align: center;
}
/*End of footer styles*/

/*Start of helpdeskUser.php styles*/

/*End of helpdeskUser.php styles*/