/*Start of global styles*/
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
/*End of global styles*/

/*Start of headerUser styles*/
.header {
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 180px;
    width: 100%;
    text-align: center;
}

.header-navBar {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(58,58,65,0.7456232492997199) 25%, rgba(58,58,65,1) 50%, rgba(58,58,65,0.7540266106442577) 75%, rgba(0,0,0,0) 100%);
    padding: 0;
    margin: 0;
}

.header-navBar ul {
    list-style: none;
    height: 44px;
    margin: 0 10px 0 10%;
    padding: 0;
}

.header-navBar li {
    padding: 5px 10px;
}

.header-navBar a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 10px 15px 10px;
}

.header-navBtn-center {
    display: inline-block;
    margin-top: 5.6px;
}

.header-navBtn-center a:hover {
    background-color: #7f7f86;
    transition: 0.8s;
}

.header-navBtn-right {
    float: right;
}

/*End of headerUser styles*/

/*Start of headerAdmin styles*/
.headerA {
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 180px;
    width: 100%;
    text-align: center;
}

.headerA-navBar {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(58,58,65,0.7456232492997199) 25%, rgba(58,58,65,1) 50%, rgba(58,58,65,0.7540266106442577) 75%, rgba(0,0,0,0) 100%);
    padding: 0;
    margin: 0;
}

.headerA-navBar ul {
    list-style: none;
}

.headerA-navBar > ul {
    height: 44px;
    margin: 0 10% 0 10%;
    padding: 0;
}

.headerA-dropBtn, .headerA-btn {
    padding: 5px 10px;
}

.headerA-navBar a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0 10px 15px 10px;
    display: block;
}

.headerA-navBtn:hover {
    background-color: #7f7f86;
}

.headerA-dropdown, .headerA-navBtn {
    position: relative;
    display: inline-block;
}

.headerA-dropctn {
    display: none;
    position: absolute;
    background-color: #b9b9b9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.headerA-dropctn ul {
    margin: 0;
    padding: 0;
}

.headerA-dropctn a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.headerA-dropctn a:hover {
    background-color: #ddd;
}

.headerA-dropdown:hover .headerA-dropctn {
    display: block;
}

.headerA-dropdown:hover .headerA-dropBtn {
    background-color: #7f7f86;
}

/*End of headerAdmin styles*/

/*Start of footer styles*/
.footer {
    color: rgb(212, 212, 212);
    width: 100%;
    background: black;
    min-height: 600px;
}

.footer a {
    color: rgb(212, 212, 212);
    text-decoration: none;
}

.footer h2, .footer p {
    text-align: left;
}

.footer-contact {
    display: inline-block;
    margin: 5px 10% 0 10px;
}

.footer-address, .footer-ssn {
    display: inline-block;
    margin-right: 10%;
    vertical-align: top;
}

.footer-ssn img:hover {
    transform: rotate(20deg);
}

.footer-support {
    display: inline-block;
    vertical-align: top;
}

.footer-support a:hover {
    color: rgb(255, 255, 255);
}

.footer-divider1 {
    margin-top: 10px;
}

.footer-divider2 {
    text-align: center;
    width: 35%;
}

.footer-copy p {
    text-align: center;
}
/*End of footer styles*/

/*Start of helpdeskUser.php styles*/
.helpUser-header {
    text-align: center;
}

.helpUser-form {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.89);
    margin: 10px 35% 10px 35%;
    padding: 10px;
    border-radius: 10px;
}

.helpUser-form-group input, .helpUser-form-group textarea {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
    margin-bottom: 10px;
}

.helpUser-form-group textarea {
    height: 30%;
    width: 50%;
    resize: none;
}

.helpUser-form-group input:focus, .helpUser-form-group textarea:focus {
    border: 3px solid black;
}

.helpUser-form-btn input {
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #4f6874;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.helpUser-form-error {
    color: white;
    background-color: rgb(241, 75, 83);
    margin: 0 25% 10px 25%;
    padding: 5px 0;
}

.helpUser-form-success {
    color: white;
    background-color: green;
    margin: 0 25% 10px 25%;
    padding: 5px 0;
}
/*End of helpdeskUser.php styles*/