body{
  color: white;
  font-family: Cambria;

}

* {box-sizing: border-box}

.ticket-container {
  position: relative;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  transition: all 250ms;
  border-radius: 25px;
}

.ticket-container:hover {
  transform: scale(1.05);
}

.ticket-container-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.ticket-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  height:auto;
}

.ticket-overlay1  td{
  text-align: left;
}

.ticket-container:hover .ticket-overlay {
  opacity: 1;
  border-radius: 0px 0px 25px 25px;
}

.ticket-button{
  background-color: white;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  font-family: Cambria;
}

.ticket-button:hover {
  transform: scale(1.2) rotate(-1deg);
}

.ticket-mlbb-image {
  display: block;
  width: 100%;
  height: auto;
}

.ticket-mlbb-seat {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.ticket-mlbb-form {
  color:black;
  background-color: #eee;
  padding: 20px;
  border-radius: 20px;
  width: 70%;
  margin: 0 auto;
  font-size: 20px;
}

.ticket-mlbb-contacttable td{
  padding: 20px;
}


.ticket-mlbb-seattable td{
  padding: 20px;
}

.ticket-paynow {
  background-color: white;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: right;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  font-family: Cambria;
  float: right;
}

.ticket-reset {
  background-color: white;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  font-family: Cambria;
}

.ticket-paynow:hover {
  transform: scale(1.2) rotate(-1deg);
}

.ticket-reset:hover {
  transform: scale(1.2) rotate(-1deg);
}

.ticket-valorant-image {
  display: block;
  width: 100%;
  height: auto;
}

.ticket-valorant-form {
  color:black;
  background-color: #eee;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
}
