
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.ticket-container {
  position: relative;
  width: 100%;
}

/* Make the image to responsive */
.ticket-container-image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.ticket-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  height:auto;
}

.overlay h3 {
  text-align: center;
}

.overlay2 p {
  text-align: left;
}

/* When you mouse over the container, fade in the overlay title */
.ticket-container:hover .overlay {
  opacity: 5;
}